    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title left-panel-title">{{id}}</h3>
                <h3 class="panel-title second-left-panel-title">{{name}}</h3>
                <h3 class="panel-title right-panel-title">Weight: {{weight}}</h3>
            </div>
            <h1>Abilities</h1>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Effect</th>
                </tr>
                {{#each abilities}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{description}}</td>
                </tr>
                {{/each}}
            </table>
            <h1>Moves</h1>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Damage Type</th>
                    <th>Power</th>
                    <th>Accuracy</th>
                    <th>PP</th>
                </tr>
                {{#each moves}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{damageType}}</td>
                    <td>{{power}}</td>
                    <td>{{accuracy}}</td>
                    <td>{{pp}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
    <div class="col-md-1"></div>
